@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$cor-primaria: #d71340;
$primeira-fonte: "Source Sans 3", sans-serif;
$segunda-fonte: "Indie Flower", sans-serif;
$largura-total: 1200px;
$borda-inputs: 1px solid rgb(205, 205, 205);

@mixin media($tamanho) {
  @media screen and (max-width: $tamanho) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primeira-fonte;
}

body {
  position: relative;
}

.groupNav {
  position: fixed;
  z-index: 9000;
  top: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.7);
  background-color: #d71340;

  .nav {
    display: flex;
    padding: 0.7em 1em;
    margin: auto;
    max-width: $largura-total;
    background-color: $cor-primaria;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;

    .menu {
      width: 35px;
      height: 35px;
      cursor: pointer;
      display: none;
      flex-direction: column;
      gap: 8px;
      background-color: transparent;

      &__line {
        background-color: white;
        border-radius: 3px;
        height: 100%;
      }
    }

    &__logo {
      font-family: $segunda-fonte;
      font-size: 1.8em;
      font-weight: bolder;
      color: white;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &:hover {
        transform: rotate(5deg) scale(120%);
      }
    }

    &__list-menu {
      position: relative;
      list-style-type: none;
      display: flex;
      gap: 1em;

      &__item {
        padding: 0 0.5em;

        & a {
          text-decoration: none;
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}

.main {
  padding: 6em 0 4em 0;
  max-width: $largura-total;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  gap: 3em;

  &__presentation {
    background-image: linear-gradient(to right, #dde7f0, #d0deed);
    padding: 2.5em 2em 2em 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__title {
      font-size: 2.1em;
      font-weight: 600;
    }

    &__text {
      font-size: 1.2em;
    }
  }

  &__group-form {
    max-width: 50em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__group-input {
      display: grid;
      grid-template-columns: 1fr 7em;
      box-shadow: 0px 0px 10px gray;
      border-radius: 20px 20px 3px 3px;

      &__input-invalid {
        font-family: monospace;
        padding: 0.8em 0 0.8em 1em;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.72px;
        border: none;
        outline: none;
        border-bottom: 12px solid #006b4d;
        border-radius: 20px 0px 0px 3px;
      }

      &__btn-copy {
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #57677a;
        background-color: #ffffff;
        border-bottom: 12px solid #006b4d;
        border-radius: 0px 20px 3px 0px;
      }
    }
  }
  .group-selects {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .separator {
    position: relative;
    display: grid;
    grid-template-columns: 4em 1fr;
    align-items: center;
    border: 2px solid #eeecec;
    padding-right: 1em;
    border-radius: 5px;

    &__input-number {
      text-align: center;
      border: none;
      font-size: 2em;
      outline: none;
      font-weight: bolder;
      color: rgb(0, 94, 255);
      background-color: transparent;
    }
  }

  .main__form__group-form__form {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    padding: 2.5em 2em 3em 2em;
    gap: 1.5em;

    &__group-inputs {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__group {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  .select {
    font-size: 1.1em;
    font-weight: 500;
    padding: 0.5em 1em;
    border: none;
    outline: none;
    color: white;
    background-color: $cor-primaria;
    border-radius: 10px;
    cursor: pointer;

    option {
      background-color: rgb(255, 255, 255);
      color: black;
      font-weight: 500;
    }
  }

  .label {
    font-size: 1.1em;
  }

  .select2 {
    background-color: black;
    max-width: 15em;
  }

  .title {
    font-size: 2.15em;
    font-weight: 500;
    border-bottom: 2px solid rgb(235, 235, 235);
  }

  .btn-gerar-senha {
    font-size: 1.5em;
    padding: 0.3em 2em;
    border-radius: 10px;
    border: none;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    background-image: linear-gradient(
      to right,
      rgb(9, 136, 9),
      rgb(1, 103, 1),
      rgb(0, 70, 0)
    );
    transition: all 0.3s ease;

    &:hover {
      transform: scale(105%);
      box-shadow: 0px 0px 8px gray;
    }
  }

  .input-slide {
    width: 100%;
    border-radius: 5px;
    height: 10px;
    background-color: #d71340;
    outline: none;

    &::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      transform: scale(200%);
      border: 4px solid #3498db;
      background-color: white;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }
}

.groupService {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;

  .section-service {
    display: grid;
    grid-template-rows: 7.6em 20em;
    padding: 2em 2em 1em 2em;
    max-width: 1200px;
    margin: auto;

    &__title {
      font-size: 2.8rem;
      font-weight: 500;
      text-align: center;
    }

    &__group-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 2em;

      &__card {
        padding: 2em;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.338);
        border-radius: 10px;
        max-width: 26em;
        margin: auto;

        &__suptitle {
          text-transform: uppercase;
          color: #dd2222;
          font-weight: bolder;
          font-size: 0.9em;
          margin-bottom: 8px;
        }
        &__title {
          font-size: 1.8em;
          font-weight: 500;
          margin-bottom: 7px;
        }

        &__link {
          color: #000000;
          font-weight: bold;
          margin-top: 40px;
        }
      }
    }
  }
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 3em 1fr 1fr 3em;
  padding: 2em;
  column-gap: 2em;
  row-gap: 1em;

  &__title {
    display: flex;
    gap: 1em;
    grid-column: 1 / -1;
    border-bottom: 1px solid rgb(79, 79, 79);

    &__icons i {
      margin-right: 10px;
      font-size: 1.3em;
    }
  }

  &__final {
    grid-row: 4 / 4;
    grid-column: 1 / -1;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(79, 79, 79);
  }

  h3 {
    text-transform: uppercase;
    color: #9aa8bb;
    font-size: 0.9em;
    margin-bottom: 7px;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 0.9em;
      padding: 0.3em 0em;

      &:hover {
        color: $cor-primaria;
        text-decoration: underline;
      }
    }
  }
}

@include media(1177px) {
  .footer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3em 1fr 1fr 1fr 4em;
  }
  .footer__final {
    grid-row: 5 / 5;
    padding: 1em 0em;
    display: flex;
    flex-wrap: wrap;
  }
}

@include media(1132px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 2em;
  }
}

@include media(1056px) {
  .groupService .section-service__group-cards__card__title {
    font-size: 1.5em;
  }

  .groupService .section-service__group-cards__card {
    height: 20em;
  }
}

@include media(1000px) {
  .groupService .section-service {
    grid-template-rows: 1fr 6fr;
    padding: 4em 2em 2em 2em;
  }
  .groupService .section-service__group-cards {
    grid-template-columns: 1fr;
    row-gap: 1em;
  }

  .groupService .section-service__group-cards__card {
    height: 18em;
  }
}

@include media(960px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3em 1fr 1fr 1fr 1fr 4em;
    column-gap: 1em;
    row-gap: 2em;
  }
  .footer__final {
    grid-row: 6 / 6;
  }
}

@include media(775px) {
  .main .group-selects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4.5em;
    row-gap: 0;
  }
  .main .btn-gerar-senha {
    grid-column: 1 / -1;
  }
}

@include media(768px) {
  .groupNav .nav .menu {
    display: flex;
    z-index: 1;
  }

  .groupNav .nav__list-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    gap: 2em;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
}

@include media(623px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3em 1fr 1fr 1fr 1fr 1fr 9em;
  }

  .footer__final {
    grid-row: 9 / 9;
  }

  .main__group-form__group-input__input-invalid {
    width: 100%;
  }
}

@include media(536px) {
  .main .group-selects {
    grid-template-columns: 1fr;
    row-gap: 1em;
  }

  .main .btn-gerar-senha {
    grid-column: 1 / -1;
    margin-top: 1em;
  }
}

@include media(484px) {
  .groupNav .nav .menu {
    width: 30px;
    height: 26px;
    gap: 5px;
  }

  .main__presentation__title {
    font-size: 1.8em;
    text-align: center;
  }
  .main__presentation__text {
    font-size: 1em;
    text-align: center;
    color: green;
  }

  .main__group-form__group-input__input-invalid {
    font-size: 27px;
  }

  .main .select {
    font-size: 1em;
  }

  .main .title {
    font-size: 1.7em;
  }
  .main .group-selects {
    row-gap: 5px;
  }
  .main .btn-gerar-senha {
    font-size: 1.2em;
    padding: 0.6em 2em;
  }

  .groupService .section-service__title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  .groupService .section-service {
    grid-template-rows: 1fr 7fr;
  }
  .groupService .section-service__group-cards__card {
    height: auto;
  }
  .groupService .section-service__group-cards {
    row-gap: 2em;
    display: flex;
    flex-direction: column;
  }
}

@include media(452px) {
  .footer {
    row-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5em 1fr 1fr 1fr 1fr 1fr 13em;
  }
}

@include media(400px) {
  .groupService .section-service {
    display: flex;
    flex-direction: column;
  }
}

@include media(383px) {
  .footer {
    grid-template-rows: 5em 1fr 1fr 1fr 1fr 1fr 17em;
  }
}

//Option

.groupOption-login {
  background-color: #00000080;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1000000;

  .option {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    bottom: 0;
    height: 60%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 6fr 1fr;
    padding: 3em 2em 1em 2em;
    animation: optionAnimationTOP 0.5s ease 0s 1 normal forwards;

    @keyframes optionAnimationTOP {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .closed-option-login {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      margin-right: 4px;
      font-size: 1.5em;
      color: #000000;
    }
    &__group-primary {
      &__form {
        display: flex;
        flex-direction: column;
        max-width: 15em;
        gap: 1em;
        padding: 1em 0em;

        &__group {
          display: grid;
          grid-template-columns: 1fr 2em;

          .ver-senha {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(77, 77, 77);
            border: 1px solid rgb(122, 122, 122);
            border-left: none;
            font-size: 17px;
            border-radius: 0 5px 5px 0;
          }
        }

        input[type="text"] {
          @extend %estilos-input;
          border-radius: 5px;
          border: 1px solid rgb(122, 122, 122);

          &:focus {
            padding-left: 10px;
            outline: none;
          }
        }

        #password {
          @extend %estilos-input;
          border-radius: 5px 0 0 5px;
          border-right: none;
          border: 1px solid rgb(122, 122, 122);
          border-right: none;

          &:focus {
            padding-left: 10px;
            outline: none;
          }
        }

        button {
          padding: 7px 5px;
          border: none;
          background-color: $cor-primaria;
          border-radius: 5px;
          color: white;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: darken($cor-primaria, 5%);
          }
        }
      }
    }

    &__group-secundary {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      ul {
        list-style-type: none;
      }
    }

    &__group-terciary {
      grid-column: 1 / -1;
      border-top: 1px solid rgb(66, 66, 66);
      padding: 8px 0 0 0;
    }
  }
}

.groupOption-cadastro {
  background-color: #00000080;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1000000;

  .option {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    bottom: 0;
    height: 60%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 6fr 1fr;
    padding: 3em 2em 1em 2em;
    animation: optionAnimationTOP 0.5s ease 0s 1 normal forwards;

    @keyframes optionAnimationTOP {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .closed-option-cadastro {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      margin-right: 4px;
      font-size: 1.5em;
      color: #000000;
    }
    &__group-primary {
      &__form {
        display: flex;
        flex-direction: column;
        max-width: 15em;
        gap: 1em;
        padding: 1em 0em;

        &__group {
          display: grid;
          grid-template-columns: 1fr 2em;

          .ver-senha {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(77, 77, 77);
            border: 1px solid rgb(122, 122, 122);
            border-left: none;
            font-size: 17px;
            border-radius: 0 5px 5px 0;
          }
        }

        input[type="text"] {
          @extend %estilos-input;
          border-radius: 5px;
          border: 1px solid rgb(122, 122, 122);

          &:focus {
            padding-left: 10px;
            outline: none;
          }
        }

        input[type="password"] {
          @extend %estilos-input;
          border-radius: 5px 0 0 5px;
          border-right: none;
          border: 1px solid rgb(122, 122, 122);
          border-right: none;

          &:focus {
            padding-left: 10px;
            outline: none;
          }
        }

        button {
          padding: 7px 5px;
          border: none;
          background-color: $cor-primaria;
          border-radius: 5px;
          color: white;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            background-color: darken($cor-primaria, 5%);
          }
        }
      }
    }

    &__group-secundary {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      ul {
        list-style-type: none;
      }
    }

    &__group-terciary {
      grid-column: 1 / -1;
      border-top: 1px solid rgb(66, 66, 66);
      padding: 8px 0 0 0;
    }
  }
}

%estilos-input {
  font-size: 1em;
  transition: all 0.3s ease;
  padding: 5px;
}
